body{
    margin: 0%;
    font-family: 'Poppins'; 
}

 
.first{
      margin: 0%;
      background-image: url('p4.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height:768px;   
  }
  
.Main{
    display: inline-flex;
    color: white;
    margin-left: 100px;
    margin-top: 20px;
    font-size: 40px; 
       
}

.nav{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-left: 100px;
  }
  
  
  .topnav {
    background-color: transparent;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    margin-left: 60px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: transparent;
    color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .button {
   
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 150px;
    height: 35px;

  }
  
.button1 {border-radius: 20px; }


.omnisSet{
    margin-left: 100px;
    margin-top: 120px;
    display: block;
  }
  .omnis{
  
          color: white;     
          font-size: 70px;
          font-weight: bold;
          margin: 0;
                 
    }
    .omnisP{
      color: white;     
      font-size: 20px;
      margin-top: 20px;
      
  }
  
  
  
  .button2 {
      background-color: rgb(230, 181, 22);
      color: white;
      text-align: center;
      width: 200px;
      padding: 3px;
      height: 40px;
      text-decoration: none;
      font-size: 20px;
      border: none;
      margin-top: 70px;
    }
  
  .button2 {border-radius: 20px;}

  .Re{
    color: black;     
    font-size: 12px;
    font-weight: bold;
    margin-top: 50px; 
    margin-left: 100px; 
}

.RE{
  color: black;     
  font-size: 30px;
  font-weight: bold;
  margin-left: 100px; 
}

.Cardcon{
  margin-left: 80px;
  margin-top: 30px;
  margin-right: 80px;
}

.Cardcolumn {
  float: left;
  width: 30%;
  padding: 0;
}

/* Remove extra left and right margins, due to padding */
.CardRow {
  margin-left: 0;
  display: flex;
  justify-content: space-between;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 100%) {
  .column {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0x;
  margin: 0;
  text-align: left;
  background-color: #f1f1f1;
}

.bMain{
  display: flex;
  justify-content: space-between;
}
.img{
  width: 100%;
}
.cardText{
  padding: 20px;
  font-size: 15px;
}


.fa fa-plus{
    font-size: 20px;
}
.cardText1{
    font-size: 15px;
    font-weight: bolder;
    
}


.fa fa-plus{
  font-size: 20px;
}
.cardText1{
  font-size: 30px;
  font-weight: bolder;
  margin-top: 5px;
}
.bt {
  background-color: transparent;
  color: white;
  text-align: center;
  width: 40px;
  padding: 5px;
  height: 40px;
  text-decoration: none;
  font-size: 15px;
  border: none;
  border-radius: 30px;
  
}

/* Green */
.success {

  border: 2px solid rgb(223, 91, 91);
  border-radius: 30px;
  width: 40px;
  height: 40px;
  color: rgb(223, 91, 91);


}

.success:hover {

  border: 2px solid rgb(223, 91, 91);
  width: 40px;
  height: 40px;
  border-radius: 30px;
  color: rgb(223, 91, 91);
 
}

.formH{
  display: flex;
  justify-content: space-around;
}


.form1{
display: flex;
margin-top: 70px;
margin-bottom: 100px;
justify-content: space-around;
width: 600px;
 
 }
 
 .c1{
   color: black;
   font-weight: bolder;
   font-size: 50px;
   margin: 0;
   text-align: center;
 }
 
 .c2{
   color: black;
   font-size: 15px;
   text-align: center;
   margin-top: 10px;
 }
 
 .emailf{
   display: flex;
   justify-content: space-around;
   margin-top: 30px;
   
   
 }
 
 input#email {
   width: 300px;
   height: 40px;
 }
 
 .button3 {
   background-color: rgb(212, 103, 212);
   color: white;
   text-align: center;
   width: 150px;
   padding: 5px;
   height: 40px;
   text-decoration: none;
   font-size: 15px;
   border: none;
   border-radius: 30px;
 }

 .footer {
  margin: 0%;
  width: 100%;
  color: black;
  display: block;
}


.footcon{
  margin-top: 30px;

}

.cardText2{
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 5px;
}

.cardText3{
  font-size: 15px;
  color: rgba(128, 122, 122, 0.932);
  margin-bottom: 5px;
  
}

.CardRow {
  margin-left: 0;
  display: flex;
  justify-content: space-around;
}

.footcolumn {
  float: left;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.copy{
  text-align: center;
  color: rgba(128, 122, 122, 0.932);
  margin-top: 20px;
  margin-bottom:20px;
}

